
.card {
    display: flex;
    align-items: center;
    position: relative;
    width: 640px;
    height: 129px;
    border: 1px solid #EEEEEE;
    cursor: pointer;
    box-sizing: border-box;
}

.card::after {
    content:""

}

.card:hover {
    box-shadow: 0px 1px 10px grey;
}

.card-id {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 64px;
    margin-left: 40px;
    border-radius: 40px;
    background: #61a0ff;
    color: white;
}


.card-detail {
    width: 255px;
    height: 54px;
    padding-left: 24px;
}

.card-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-category {
    font-size: 15px;
    font-weight: 500;
    color: #AAAAAA;
}

.card-rating {
    margin-right: 40px;
    margin-left: auto;
}

.star__filled {
    position: absolute;
    left: 2px;
}

.star__filled-active {
    visibility: visible;
}
.star__filled-inactive {
    visibility: hidden;
}

.card-button-active {
    display: block;
    transform: translate(0px, 0px);
}

.card-button-inactive {
    transform: translate(130px, 0px);
}

.card-button {
    transition: ease-in-out 0.75s;
    position: absolute;
    height: 100%;
    right: 0;
}

.card-edit, .card-delete {
    height: 100%;
    width: 4rem;
    padding: 0;
    border: 0;
    color: white;
    cursor: pointer;
}

.card-edit {
    background: #565656;
}

.card-delete {
    background: #cc304e;;
}